<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
    <configuration>
  <appSettings>
    <add key="accessorKey" value="19700975-5439f8c319c1140f2fdb338b5" />
  </appSettings>
</configuration>
  <userSettings>
    <SearchPixabay.Properties.Settings>
      <setting name="accessorKey" serializeAs="String">
        <value>19700975-5439f8c319c1140f2fdb338b5</value>
      </setting>
    </SearchPixabay.Properties.Settings>
  </userSettings>
</configuration>